footer {
    width: 100%;
    
    .footer-block {
        @include displayFlex(row, nowrap, center, space-between, center);
        border-top: 1px solid #dadada;

        .logo {
            max-width: 80px;
        }
    }
}