.signup {
    .signup-inner-block {
        @include displayFlex(column, nowrap, center, center, center);

        h2 {
            margin-bottom: 2rem;
        }

        form {
            
            & > div {
                @include displayFlex(column, nowrap, center, center, flex-start);
                margin-bottom: 1.2rem;

                &:last-of-type {
                    margin-bottom: 2.2rem;
                }

                label {
                    max-width: 170px;
                    min-width: 120px;
                    display: inline-block;
                }
            }

            button {
                margin-right: 0.5rem;
            }
        }
    }
}