.message-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inner-block {
    width: max-content;
    border: 1px solid black;
    text-align: center;
    padding: 50px 100px;
}

.inner-block p {
    font-size: 1.5rem;
}