*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Message Block ---*/
.message-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.message-block .inner-block {
  width: max-content;
  border: 1px solid black;
  text-align: center;
  padding: 50px 100px;
}

.message-block .inner-block p {
  font-size: 1.5rem;
}

.message-block .inner-block button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #dadada;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 1s;
  cursor: pointer;
}

.message-block .inner-block button:hover {
  background-color: #ddd;
  border: 1px solid #000;
}